:root {
  --mainFont: "Manrope", sans-serif;
  --mainTextColor: white;
  --hoverTextColor: tomato;
  --color: #2f4f4f;
}

body {
  margin: 0;
  background-image: url(assets/drink\ homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--mainTextColor);
  font-family: var(--mainFont);
}

header {
  font-family: "Asset", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: tomato;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 34px;
}

.game {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content .startButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-style: none;
  border: none;
  background-color: transparent;
  font-family: var(--mainFont);
  font-size: 24px;
  color: var(--mainTextColor);
}

.startButton:hover {
  cursor: pointer;
  color: tomato;
  font-size: larger;
}

.content .welcomeText {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: var(--mainFont);
  font-weight: 400;
  color: var(--hoverTextColor);
}

.content .startButton {
  width: 200px;
  margin-top: 7px;
  font-size: 18px;
  font-family: var(--mainFont);
  border-style: none;
  border-radius: 12px;
  padding: 6px;
  color: var(--hoverTextColor);
  background-color: white;
  cursor: pointer;
}

.content .startButton:hover {
  background: #ff826b;
  color: white;
}

.content h3 {
  color: tomato;
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.745);
  padding: 5px 10px;
  border-radius: 16px;
}

.finalTitle {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.finalTextBox {
  background: rgba(255, 255, 255, 0.745);
  padding: 15px 20px;
  border-radius: 16px;
}

.finalItem {
  font-weight: bold;
  font-size: 18px;
  color: tomato;
  margin: 8px 0;
  text-align: center;
}

.choiceCard {
  width: 300px;
  padding: 20px;
  background: var(--color);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.choiceCard h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.category {
  margin-bottom: 10px;
  font-size: 17px;
}

body {
  margin: 0;
  background-image: url(assets/drink\ homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--mainTextColor);
  font-family: var(--mainFont);
}

button {
  background: white;
  border: 2px solid tomato;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}

button:hover {
  background: #ff826b;
  color: white;
}

.glassButton img {
  width: 180px;
  border-radius: 20px;
}

.glassButton {
  border: none;
  background: transparent;
  transition: transform 0.2s;
}
.glassButton:hover {
  transform: scale(1.1);
  background-color: transparent;
}

.selected {
  background: tomato;
  color: white;
}

.drinkResult {
  background: white;
  border: 2px solid #bc8f8f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-top: 32px;
}

#shakerMove {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: 20px auto;
}

#shakerImage {
  width: 400px;
  transform-origin: 50% 20%;
}

.shake {
  animation: shakeAnim 0.5s infinite;
}

@keyframes shakeAnim {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
