:root {
  --mainFont: "Manrope", sans-serif;
  --headerFont: "Galindo", sans-serif;
  --mainTextColor: white;
  --hoverTextColor: tomato;
}

body {
  margin: 0;
  background-image: url(assets/drink\ homepage.jpg);
  color: var(--mainTextColor);
  font-family: var(--headerFont);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: block;
  text-align: center;
  margin: auto;
}

.headerText {
  font-family: "Asset", sans-serif;
  font-style: normal;
  background-color: tomato;
  text-align: center;
  font-size: 32px;
  padding: 30px;
  margin-top: 0;
}

.welcomeText {
  margin: 0;
  text-align: center;
  font-size: 28px;
  color: var(--hoverTextColor);

}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
  font-size: 18px;
  width: 175px;
  font-family: var(--headerFont);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 16px;
  color: var(--hoverTextColor);
  background-color: var(--mainTextColor);
  cursor: pointer;
}

.startButton:hover {
  cursor: pointer;
  color: var(--mainTextColor);
  background: #ff826b;
}

.content h3 {
  color: tomato;
  text-align: center;
  margin: 15px auto;
  font-size: 28px;
  font-weight: bold;
  width: fit-content;
  background-color: var(--mainTextColor);
  padding: 5px 10px;
  border-radius: 16px;
}

.finalTitle {
  color: var(--mainTextColor);
  font-size: 24px;
  margin: 60px 0 5px 0;
}

.finalTextBox {
  display: block;
  margin: auto;
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 16px;
}

.finalItem {
  font-size: 18px;
  width: auto;
  color: tomato;
  margin: 8px 0;
  text-align: center;
}

button {
  background: var(--mainTextColor);
  border: 2px solid tomato;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}

button:hover {
  background: #ff826b;
  color: var(--mainTextColor);
}

.glassButton {
  border: none;
  background: transparent;
  transition: transform 0.2s;
}

.glassButton img {
  width: 180px;
  border-radius: 20px;
}

.glassButton:hover {
  transform: scale(1.1);
  background-color: transparent;
}

.shakerMove {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: 20px auto;
}

.shakerImage {
  width: 500px;
  transform-origin: 50% 20%;
}

.shake {
  animation: shakeAnim 0.5s infinite;
}

@keyframes shakeAnim {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.randomComment {
  display: none;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  max-width: fit-content;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  border-radius: 16px;
  animation: randComment 1 infinite;
}

.restartBtn {
  width: auto;
  font-size: 18px;
  font-family: var(--headerFont);
  color: tomato;
  border-style: dashed;
  background-color: white;
  margin: 15px;
}
